._menu {
  flex: 1;
  display: flex;
  /* background-color: red; */
  flex-direction: row;
  border-bottom: 1.5px solid whitesmoke;
}

._sideMenu {
  flex: 1;
  display: flex;
  background-color: white;
  justify-content: center;
  align-items: center;
}