._post_card {
  position: relative;
  display: flex;
  background-color: transparent;
  border-radius: 14px;
  width: 210px;
  height: 380px;
  box-shadow: 1px 5px 10px grey;
  overflow: hidden;
}

._cover_post_card {
  flex: 1;
  display: flex;
  object-fit: cover;
  overflow: hidden;
  position: absolute;
}

._content_post_card {
  position: relative;
  flex: 1;
  display: flex;
  margin: 25px;
  flex-direction: column;
  justify-content: space-between;
  background-color: transparent;
  overflow: hidden;
}

._list_post_card {
  display: flex;
  flex: 1;
  background-color: transparent;
}

._column_list_post_card {
  display: flex;
  flex: 1;
  padding: 5px;
  background-color: white;
}
